*{
    margin:0;
    padding:0;
}

body {
    background:url(https://source.unsplash.com/random/1920x1080/?wallpaper,landscape) no-repeat center center/cover;
    
}

/* #logo::before{
    content: "";
    background: url(https://source.unsplash.com/random/1920x1080/?wallpaper,landscape) no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
} */

#logo{
    top: 10px;
    display: inline-block;
}

#logo img{
    height: 65px;
    margin: 7px -7px;
}

#navbar{
    display: inline-block;
    position: relative;
    /* align-items: center;
    justify-content: center; */
    top: -20px;
    left: 350px;
}

#navbar ul{
    display: flex;
    /* position: fixed; */
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
    font-weight: bold;
}

#navbar ul li a{
    display: block;
    padding: 0px 20px;
    border-radius: 13px;
    text-decoration: none;
    color: rgb(14, 4, 4);
}

#navbar li a:hover{
    color: black;
    background-color: white;
}

/* #navbar::before{
    content: "";
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.1;
} */

.h-primary{
    font-size: 1.6rem;
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.h-secondary{
    font-size: 1.1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#home{
    display: flex;
    flex-direction: column;
    padding: 3px 50px;
    height: 325px;
    justify-content: center;
    text-align: center;
}


#srvs{
    display:flex;
    margin: 20px;
}

#srvs .box{
    /* border: 2px solid rgb(11, 0, 0); */
    padding: 10px 15px;
    margin: 3px 6px;
    /* border-radius: 20px; */
    /* background-color:rgb(79, 7, 79) ; */
    width: 45%;
}

#srvs .box img{
    width: 350px;
    height: 250px;
    display: block;
    margin: auto;
}

